<img class="pin-img" src="{{ pin.url }}" alt="Pin image">
<div>
  <h3 class="pin-title">{{ pin.description }}</h3>
  <div style="background-color: lightgray; justify-content: space-between;">
    <img style="width:50px; height:50px;"src="{{pin.createdBy.avatarUrl}}" alt="Avatar image">
    <p style="float: right;"class="pin-detail">{{ pin.createdBy.username }}</p>
  </div>
  <button type="button" (click)="onFavorite()"><i class="fa fa-lg fa-star" (click)="onFavorite()"></i></button>
  <span class="glyphicon glyphicon-hourglass c-hide" aria-hidden="true"></span>
  <p class="pin-detail">{{ pin.numFavorites }}</p>
</div>
