/* *, *:before, *:after {box-sizing:  border-box !important;}


.row {
 column-width: 18rem;
}

.item {
 display: inline-block;
 padding:  .25rem;
 width:  100%;
} */

.grid-item {
  margin-bottom: 10px;
}
