<!-- <div class="container">
  <a routerLink="/dashboard">All Pins</a>
  <a routerLink="/pins">My pins</a>
  <a routerLink="/add-pin">Add a pin</a>
  <button type="button">Log in</button>
-->
<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <i class="fab fa-pinterest fa-3x"></i>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a routerLink="/dashboard" class="nav-link px-2 link-secondary">All Pins</a></li>
                <li><a *ngIf="securityService.isLoggedIn() == true" routerLink="/pins" class="nav-link px-2 link-secondary">My pins</a></li>
                <li><a *ngIf="securityService.isLoggedIn() == true" routerLink="/add-pin" class="nav-link px-2 link-secondary">Add pin</a></li>
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
            </form>

            <div class="text-end">
                <!-- <button type="button" class="btn btn-outline-light me-2">Login</button>
                <button type="button" class="btn btn-warning">Sign-up</button> -->
                <a *ngIf="securityService.isLoggedIn() == false" routerLink="/login">Login</a>
                <button *ngIf="securityService.isLoggedIn() == true" (click)="logout()">Logout</button>
            </div>
        </div>
    </div>
</header>

<div class="b-example-divider"></div>
