<header class="p-3 bg-light text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a class="d-flex align-items-center mb-2 mb-lg-0 text-danger text-decoration-none">
        <i class="fab fa-pinterest fa-3x"></i>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a routerLink="/dashboard" class="nav-link px-2 link-dark">All Pins</a></li>
        <li><a *ngIf="securityService.isLoggedIn() == true" routerLink="/my-pins" class="nav-link px-2 link-dark">My
            pins</a></li>
        <li><a *ngIf="securityService.isLoggedIn() == true" routerLink="/add-pin" class="nav-link px-2 link-dark">Add
            pin</a></li>
      </ul>
      <div class="text-end">
        <button *ngIf="securityService.isLoggedIn() == false" routerLink="/login" class="btn btn-dark">Login</button>
        <button *ngIf="securityService.isLoggedIn() == true" (click)="logout()" class="btn btn-dark">Logout</button>
      </div>
    </div>
  </div>
</header>