<form class="col-md-7" (ngSubmit)="onSubmit()">

  <div class="form-group">
      <label> Description </label>
      <input type="text"
          class="form-control"
          name="description"
          id="description">
  </div>

  <div class="form-group">
      <label> URL </label>
      <input type="text"
          class="form-control"
          name="url"
          id="url">
  </div>

  <div class="form-group">
    <label> Username </label>
    <input type="text"
        class="form-control"
        name="username"
        id="username">
  </div>

  <button type="submit" class="btn update-btn m-2">Add</button>

</form>
