<div class="container">
  <div class="col-md-7 py-2" *ngIf="formError">
    <div class="form-control is-invalid" id="validationTextarea">
      {{ formError }}
    </div>
  </div>
  <div class="row g-3">
    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
      <div class="col-sm-7">
        <div class="form-outline">
          <label class="form-label" for="description">Description</label>
          <input type="text" id="description" required class="form-control" formControlName="description"
            placeholder="Enter description" />
        </div>
      </div>
      <div class="col-sm-7">
        <div class="form-outline">
          <label class="form-label" for="url">URL</label>
          <input type="text" id="url" required class="form-control" formControlName="url"
            placeholder="Enter picture URL" />
        </div>
      </div>
      <div class="col-sm-7 pt-2">
        <div class="form-outline">
          <button class="btn btn-danger" type="submit">Add Pin</button>
        </div>
      </div>
    </form>
  </div>
</div>